<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MIT & CPW</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascripts -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/d3/d3.js"></script>
    <script src="./bower_components/angular-charts/dist/angular-charts.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/lodash/lodash.js"></script>
    <script src="http://cdn.jsdelivr.net/jstat/1.1.3/jstat.min.js"></script>
    <script src="./d3.likert.js"></script>
    <!-- Our Javascripts & JSON -->
    <script type="text/javascript" src="./responses.json"></script>
    <script type="text/javascript" src="./questionHash.json"></script>
    <script src="./index.js"></script>

    <!-- CSS Styling -->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <style type='text/css'>
    body {
      font-family: "helvetica";
      color : #333;
      /*background-color: #333;*/
      margin: 2em;
      }
    .tabletip{
      background-color: #eee;
      border-radius: 5px;
      box-shadow: 10px 10px 5px #888888;
    }
    #dash-compare{
      margin: 15px;
    }
    #compare-header{
      margin:25px;
      padding:5px;
      background-color: #eee;
      border-radius: 5px;
      vertical-align: middle;
    }
    </style>
  </head>
  <body>
  <body>
    <div ng-app='cpwViz' ng-controller='mainController'>
      <div id='dashboard' ng-model='view'>
        <div id='dash-header'>
          <h1>CPW Survey Visualization</h1>
          <div id='dash-tabs'>
            <ul class='nav nav-tabs'>
              <li role='presentation' id='overallA' class='active'><a ng-click='toOverall()'>Overall</a></li>
              <li role='presentation' id='compA'><a ng-click='toComp()'>Compare</a></li>
            </ul>
          </div> <!-- dash-tabs -->
        </div> <!-- dash-header -->
        <div id='dash-overall' ng-show='view'>
          <h2>As a prefrosh,</h2>
          <span id='likert_prefrosh' likert-viz='prefroshData' height=270 width=1000></span>
          <h2>You & CPW</h2>
          <span id='likert_overall' likert-viz='overallData' height=950 width=1000></span>
        </div> <!-- dash-overall -->
        <div id='dash-compare' ng-hide='view' class='row'>
          <!-- TODO: Add ng-repeat for the options -->
          <div id='compare-ctrl'>
            <h4>Choose a question and category you would like to see.</h4>
            <span>Questions: </span><select ng-model='activeQuestion' ng-options='ques for ques in allQuestions' ng-change='updateCompare()'></select>
            <span>Category Filters: </span><select ng-model='category' ng-options='opt for opt in options' ng-change='updateCompare()'></select>
          </div> <!-- compare-ctrl -->
          <br>
          <legend></legend>
          <div id='compare-container'>
            <div id='compare-header' class='row'>
              <h3 class='col-md-7'>{{activeQuestion}}</h3><h3 class='col-md-2'><small>broken down by:</small></h3> <h3 class='col-md-3'>{{category}}</h3>
            </div> <!-- compare-header -->
            <div id='compare-viz'>
              <span id='likert_compare' likert-viz='filterData' height=950 width=1000></span>
            </div> <!-- compare-viz -->
          </div> <!-- compare-container -->
        </div> <!-- dash-compare -->
      </div> <!-- dashboard -->
    </div> <!-- cpwViz -->
  </body>
</html>
